<form [formGroup]="animalForm" (ngSubmit)="updateAnimals()">
  <h1>Update animals</h1>
  <label> Animal Name</label>
  <input id="username" type="search" formControlName="name" placeholder="{{animalName.name}}">
  <label> Animal Type</label>
  <input id="type" type="text" formControlName="type">
  <label style="color: red;" *ngIf="animalForm.controls.type.touched && animalForm.controls.type.invalid">Enter
    type</label>
  <label> Animal Age</label>
  <input id="age" type="number" formControlName="age">
  <label style="color: red;" *ngIf="animalForm.controls.age.touched && animalForm.controls.age.invalid">Enter
    age</label>
  <button *ngIf="animalForm.invalid else elseBlock" disabled id="buttonTrue"
    class="btn btn-success btn-lg">Update</button>
  <span [style.color]="resColor" id="response">{{res}}</span>
</form>

<ng-template #elseBlock>
  <button id="buttonFalse" class="btn btn-success btn-lg">Update</button>
</ng-template>
